In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
# Load pickled data
with open('events.p', 'rb') as f:
    events = pickle.load(f)

with open('teams.p', 'rb') as f:
    teams = pickle.load(f)
    
with open('matches.p', 'rb') as f:
    matches = pickle.load(f)
    
with open('players.p', 'rb') as f:
    players = pickle.load(f)

In [6]:
pd.DataFrame(matches)

,match_id,date,time,location,home_team,away_team,score,temp_c,wind_kmph,precip_mm
0,2500089,2018-05-13,1400,"Burnley, Lancashire",Burnley,AFC Bournemouth,"(1, 2)",14,17,0.0
1,2500090,2018-05-13,1400,London,Crystal Palace,West Bromwich Albion,"(2, 0)",15,10,0.2
2,2500091,2018-05-13,1400,"Huddersfield, West Yorkshire",Huddersfield Town,Arsenal,"(0, 1)",15,16,0.0
3,2500092,2018-05-13,1400,Liverpool,Liverpool,Brighton & Hove Albion,"(4, 0)",14,8,0.0
4,2500093,2018-05-13,1400,Manchester,Manchester United,Watford,"(1, 0)",15,14,0.0
...,...,...,...,...,...,...,...,...,...,...
375,2499723,2017-08-12,1400,Liverpool,Everton,Stoke City,"(1, 0)",16,20,0.5
376,2499726,2017-08-12,1400,"Southampton, Hampshire",Southampton,Swansea City,"(0, 0)",18,21,0.0
377,2499728,2017-08-12,1400,West Bromwich,West Bromwich Albion,AFC Bournemouth,"(1, 0)",20,19,0.4
378,2499727,2017-08-12,1130,Watford,Watford,Liverpool,"(3, 3)",19,19,0.0
379,2499719,2017-08-11,1845,London,Arsenal,Leicester City,"(4, 3)",19,15,0.0